<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People</title>
</head>
<body>
    
    <h1>People</h1>

    <ul>
        {%for person in people%}

        <li>{{person}}</li>

        {%endfor%}
    </ul>

    <form action="/add" method="POST">

        <input type="text" name="name" placeholder="Name"> <br>
        <input type="int" name="age" placeholder="Age"> <br>
        <input type="text" name="job" placeholder="Job"> <br>

        <input type="submit" value="Add">
    </form>

</body>
</html>